---
import "../styles/projects.css";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/commons/hero/hero.astro";
import ProjectCard from "../components/project/projectCard.astro";
import { projects } from "../data/projectData.js";
---

<Layout pageTitle="Projects" description="Showcase projects by Sudip Kandel, built using HTML, CSS, Ejs, Js, Php, Java, React, and Tailwind.">
  <Hero title="Projects" />

  <div
    id="projects-container"
    class="flex flex-wrap justify-center gap-5 px-3 pt-5 xl:px-32 2xl:px-60"
  >
    {projects.map((project, index) => (
      <ProjectCard
        index={index}
        title={project.title}
        descripcion={project.descripcion}
        image={project.image}
        tecnologies={project.tecnologies}
        demo={project.demo}
        code={project.code}
      />
    ))}
  </div>

</Layout>

<script is:inline>
(function() {
  const INITIAL_VISIBLE = 12;
  let itemsToShow = INITIAL_VISIBLE;
  const cards = Array.from(document.querySelectorAll("[data-index]"));
  const loadMoreBtn = document.getElementById("load-more");

  function updateCards() {
    cards.forEach((card, i) => {
      card.style.display = i < itemsToShow ? "flex" : "none";
    });

    loadMoreBtn.style.display = itemsToShow < cards.length ? "block" : "none";
  }

  loadMoreBtn.onclick = () => {
    itemsToShow += INITIAL_VISIBLE;
    updateCards();
  };

  updateCards();
})();
</script>
